.App {
  text-align: left;
}

.App-logo {

  height: 100px;
}

.App-header {
  background-color: #000000;
  height: 100px;

  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin-top: 30px;
  font-size: large;
}


